body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif
  color: #000;
  background: #fff;
}

p {
  font-size: 1.4rem;
  text-align: center;
}
